@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";
@import "./ui-default-theme.css";

.three-dots {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

@utility ui-ring {
    @apply ring-(--ring-color) ring-1;
}
@utility ui-gap {
    @apply gap-(--ui-gap);
}

@utility disabled-btn {
    @apply bg-gray-200 text-black/40 dark:bg-gray-500 dark:text-black/70;
}

@utility ui-disabled-btn {
    @apply disabled:!disabled-btn aria-disabled:!disabled-btn;
}

.ui-scrollbar-y::-webkit-scrollbar-thumb {
    background: red !important;
    border-radius: 100%;
    width: 8px;
}

.ui-scrollbar-y::-webkit-scrollbar-track {
    background: red !important;
    border-radius: 100%;
    width: 8px;
}

.ui-scrollbar-y::-webkit-scrollbar-corner {
    background: red !important;
    border-radius: 100%;
    width: 8px;
}

[data-vaul-drawer] {
    -webkit-user-select: auto !important;
    user-select: auto !important;
}

@keyframes hopSmooth {
    0% {
        transform: scale(1.45);
    }
    50% {
        transform: scale(1.098);
    }
    100% {
        transform: scale(1.45);
    }
}

.landing-img-live {
    animation: hopSmooth 24s cubic-bezier(0.8, 0.1, 0.2, 0.9) infinite;
}